# Base URL for the application
BASE_URL=https://knowsy.game/

# Credentials for knowsy.game end-to-end flows
KNOWSY_HOST_EMAIL=richelle2305@gmail.com
KNOWSY_HOST_PASSWORD=Richelle23#
KNOWSY_JOINER_EMAIL=22j40.richelle@sjec.ac.in
KNOWSY_JOINER_PASSWORD=Richelle21#


